<link href="https://fonts.googleapis.com/css?family=Lora|Source+Code+Pro" rel="stylesheet"> 
<style type="text/css">
    @import url("github.css");
    header {
        font-family: 'Lora', serif;
        font-size: 2em;
    }
    body {
        font-family: 'Lora', serif;
        font-size: 1em;
    }
    code {
        font-family: 'Source Code Pro', monospace;
    }
    @media screen and (max-width: 500px) {
        body {
            font-family: 'Lora', serif;
            font-size: 2em;
        }
    }
</style>
